<%tooltip ||= true%>
<%css_class ||= ''%>
<%size ||= 16%>
<a href="<%=person_path(person)%>" class="<%=["#{tooltip ? "tooltip" : ''}", css_class].reject(&:blank?).join(' ')%>">
  <%=avatar(person, size: size)%>
  <%if tooltip%>
    <div class="tooltip-content">
      <%=person.name%>
    </div>
  <%end%>
</a>