<ul class="flex flex-col gap-1">
  <% if @person.entries.count != 0 %>
    <%= render 'entries/collection', entries: @entries%>
  <% else %>
    <span class="mx-auto mt-10"><%= @person.name %> has no mentions</span>
  <% end %>
</ul>