<p class="text-center opacity-50">
  This is where you can write notes about <%= @person.name %>. Anything you write here will be used to build their biography.
</p>

<%= render "notes/form" %>
<%= render "notes/collection" %>