<div class="p-2">
  <% if @people.blank? %>
    <% if @query.blank? %>
      <p class="text-center">Start typing to search</p>
    <% else %>
      <p class="text-center">No results for <%= @query %></p>
    <% end %>
  <% else %>
    <ul>
      <% @people&.each do |p| %>
        <li class="first:pt-0 last:pb-0 hover:bg-slate-700 rounded-lg flex justify-between items-center">
          <a class="flex gap-2 items-center grow" href="<%=person_path(p)%>" onclick='return confirm("If you continue, your progress will be lost. Quit without saving your entry?");'>
            <%= avatar p, size: 24 %>
            <h6 class="font-bold"><%= p.name %></h6>
          </a>
        </li>
      <% end %>
    </ul>
  <% end %>
</div>
