<div class="p-2">
  <% if @people.blank? %>
    <% if @keyword.blank? %>
      <p class="text-center">Start typing to search</p>
    <% else %>
      <p class="text-center">No results for <%= @keyword %></p>
    <% end %>
  <% else %>
    <ul class="flex flex-col gap-1">
      <% @people&.each do |p| %>
        <li class="first:pt-0 last:pb-0 hover:bg-slate-700 rounded-lg flex justify-between items-center">
        <% raise if @entry.nil?%>
          <button class="flex gap-2 items-center grow" url="<%=entry_mentions_path(@entry)%>" data-action="click->mentions#create">
            <%= avatar p, size: 24 %>
            <h6 class="font-bold"><%= p.name %></h6>
          </button>
        </li>
      <% end %>
    </ul>
  <% end %>
</div>
