<div class="tab-bar">
  <ul class="flex flex-wrap">
    <% if @person.persisted? %>
      <li class="mr-2">
        <%= link_to "Info", tab_person_path(@person, :info), class: (@tab == :info ? "tab tab-active" : "tab") %>
      </li>
      <li class="mr-2">
        <%= link_to "Biography", tab_person_path(@person, :biography), class: (@tab == :biography ? "tab tab-active" : "tab") %>
      </li>
      <li class="mr-2">
        <%= link_to "Notes", tab_person_path(@person, :notes), class: (@tab == :notes ? "tab tab-active" : "tab") %>
      </li>
      <li class="mr-2">
        <%= link_to "Mentions", tab_person_path(@person, :mentions), class: (@tab == :mentions ? "tab tab-active" : "tab") %>
      </li>
    <% else %>
      <li class="mr-2">
        <span class="tab tab-active">Info</span>
      </li>
      <li class="mr-2">
        <span class="tab tab-disabled">Biography</span>
      </li>
      <li class="mr-2">
        <span class="tab tab-disabled">Notes</span>
      </li>
      <li class="mr-2">
        <span class="tab tab-disabled">Mentions</span>
      </li>
    <% end %>
  </ul>
</div>