<div class="w-full min-h-full flex justify-center">
  <div class="w-2/3 p-5 flex flex-col gap-2">
    <div class="">
      <%= render "show_header" %>
    </div>
    <div class="grow">
      <%= render 'tab_bar' %>
      <div class="p-3 h-full">
        <%= render "form" %>
      </div>
    </div>
  </div>
</div>