<div class="shrink-0 flex gap-2 justify-end items-center">
  <% if @entry.persisted? %>
    Last saved at <%=@entry.updated_at.strftime('%-I:%M%P')%>
  <% else %>
    Not saved
  <% end %>
  <% if @entry.published? %>
    <input type="submit" name="commit" value="Save" class="btn-secondary" data-disable-with="Save">
    <button class="btn-secondary" data-action="click->entries#unpublish">Unpublish</button>
  <% else %>
    <input type="submit" name="commit" value="Save" class="btn-secondary" data-disable-with="Save">
    <button class="btn-primary" data-action="click->entries#publish">Publish</button>
  <% end %>
</div>