<div class="w-full h-full flex flex-col">
  <%= render 'header' %>
  <div class="p-4 w-full grow">
    <% if !@entries.empty?%>
      <%=render "collection", entries: @entries%>
    <% elsif @keyword%>
      <div class="flex h-full">
        <h5 class="m-auto text-center">Your search for <span class="font-bold">"<%=@keyword%>"</span> did not return anything. Try using another keyword.</h5>
      </div>
    <% else %>
      <h5>You do not have any entries here. Click <%=link_to "here", new_entry_path%> to write one.</h5>
    <% end %>
  </div>
</div>
