<div class="w-full h-full flex flex-col">
  <%= render 'header' %>
  <div class="p-4 w-full basis-4/5 shrink-0 grow-0">
    <%= render "collection" %>
  </div>
  <div class="grow-0 mx-auto py-4">
    <%= render "page_bar" %>
  </div>
</div>