<div class="w-full h-full flex flex-col">
  <div class="p-4 m-4 flex items-center gap-2 rounded border border-neutral-700 bg-slate-800">
    <h2><%=@index_title%></h2>
    <%=link_to "New entry", new_entry_path, class: "button btn-transparent"%>
  </div>
  <div class="p-4">
    <%=render "collection", entries: @entries%>
  </div>
</div>
