<div class="flex flex-col">
  <div class="p-3 flex gap-3 items-center">
    <%= avatar(@user, size: 128) %>
    <div class="my-auto flex flex-col gap-2 w-full">
      <h2 class="font-bold"><%= @user.email %></h2>
    </div>
  </div>
</div>