<%= render "layouts/two_columns" do %>
  <div>
    <%= render "entries/member" %>
  </div>
  <div>
    <% 5.times do |i| %>
      <div class="even:bg-slate-700">
        STUFF GOES HERE
      </div>
    <% end %>
  </div>
<% end %>