<!--
<div class="">
  <div class="flex flex-col">
    <h3>0 entries in the last year</h3>
    <div class="shrink grow-0 mx-auto my-auto">
      <div class="inline-grid grid-flow-col grid-rows-7 grid-cols-55 gap-1">
        <div class="row-span-2 col-span-2 text-sm leading-3 flex flex-col justify-end">Mon</div>
        <div class="row-span-2 col-span-2 text-sm leading-3 flex flex-col justify-end">Wed</div>
        <div class="row-span-2 col-span-2 text-sm leading-3 flex flex-col justify-end">Fri</div>
        <div class="row-span-1 col-span-2"></div>
        <% puts "count = #{timeline.keys.count}" %>
        <% timeline.each do |day, v| %>
          <% puts "#{day} => #{v[0]&.title}" %>
          <%if v[0]%>
            <%= link_to "", day_path(month: day.month, day: day.day, year: day.year), class: "h-5 w-5 bg-green-#{[8 - v.count, 5].max}00 rounded hover:scale-110", data: { turbo_frame: :day } %>
          <%else%>
            <%= link_to "", day_path(month: day.month, day: day.day, year: day.year), class: "h-5 w-5 bg-gray-700 rounded hover:scale-110", data: { turbo_frame: :day } %>
          <%end%>
        <% end %>
      </div>
    </div>
  </div>
</div>

-->
