<div class="grid grid-rows-6 grid-flow-col grid-cols-12 gap-3 p-5 h-full">
  <div class="card col-span-3">
    <div class="card-body overflow-hidden">
      <h3>Greeting</h3>
    </div>
  </div>
  <div class="card col-span-3 row-span-1">
    <div class="card-body overflow-hidden">
      <h3>Stopwatch</h3>
    </div>
  </div>
  <div class="card col-span-3 row-span-4">
    <div class="card-body flex flex-col gap-3 overflow-hidden">
      <div class="flex justify-between align-center gap-5">
        <h3 class="my-auto">People</h3>
        <div class="relative">
          <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
            <svg aria-hidden="true" class="w-5 h-5 text-gray-500 dark:text-gray-400" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"></path></svg>
          </div>
          <input type="search" id="search" class="bg-transparent block w-full p-4 pl-10 text-sm text-gray-900 border border-gray-300 rounded-lg" placeholder="Search" required>
          <button type="submit" class="btn-sm absolute right-2.5 bottom-2.5">Search</button>
        </div>
      </div>
      <div class="grid grid-cols-2 gap-2">
        <%Person.last(10).each do |p|%>
          <a class="card profile-card" href="#">
            <div class="card-body flex items-center gap-3 p-2">
              <%= image_tag 'default_profile_picture.png', size: 48, class: "rounded-full"%>
              <%= p.name %>
            </div>
          </a>
        <%end%>
      </div>
    </div>
  </div>
  <div class="card col-span-9 row-span-2">
    <div class="card-body overflow-hidden flex flex-col">
      <h3>0 entries in the last year</h3>
        <div class="shrink grow-0 mx-auto my-auto">
          <div class="inline-grid grid-flow-col grid-rows-7 grid-cols-55 gap-1">
            <div class="row-span-2 col-span-2 text-sm leading-3 flex flex-col justify-end">Mon</div>
            <div class="row-span-2 col-span-2 text-sm leading-3 flex flex-col justify-end">Wed</div>
            <div class="row-span-2 col-span-2 text-sm leading-3 flex flex-col justify-end">Fri</div>
            <div class="row-span-1 col-span-2"></div>
            <%365.times do |i|%>
              <%if rand(1..2).even?%>
                <%if rand(0..20) == 5%>
                  <div class="h-5 w-5 bg-red-400 rounded hover:scale-110" data-milestone="" data-entry=""></div>
                <%else%>
                  <div class="h-5 w-5 bg-gray-700 rounded hover:scale-110" data-milestone="" data-entry=""></div>
                <%end%>
              <%else%>
                <div class="h-5 w-5 bg-green-700 rounded hover:scale-110" data-milestone="" data-entry=""></div>
              <%end%>
            <%end%>
          </div>
        </div>
    </div>
  </div>
  

  <div class="card col-span-3 row-span-2">
    <div class="card-body flex flex-col justify-between overflow-hidden">
      <h3>Quotes</h3>
      <div class="flex flex-col justify-center grow">
        <blockquote>
          “Do not dwell on the past. Do not dream of the future. Concentrate your mind on the present moment.” 
        </blockquote>
        <p class="quote-source">
          — William Shakespeare
        </p>
      </div>
    </div>
  </div>
</div>