<%= turbo_frame_tag :modal do %>
  <div class="modal-wrapper" data-controller="dismissable">
    <div class="m-auto w-1/2 py-4 max-h-screen overflow-auto">
      <div class="card">
        <div class="card-body relative p-8">
          <button type="button" data-action="click->dismissable#dismiss" class="absolute right-4 top-4 rounded-full hover:bg-slate-700 p-2">
            <%= embedded_svg "x.svg", class: "w-5 h-5 text-slate-500" %>
          </button>
          <%= yield %>
        </div>
      </div>
    </div>
  </div>
<% end %>