@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'actiontext.css';


@layer base {
  body {
    @apply dark:bg-slate-900 dark:text-slate-200 h-screen flex flex-row overflow-auto
  }
  main {
    @apply w-full
  }
  blockquote {
    @apply italic text-slate-400 font-semibold text-center text-xl
  }
  .quote-source {
    @apply text-neutral-500 text-end
  }
  h1 {
    @apply text-6xl
  }
  h2 {
    @apply text-4xl
  }
  h3 {
    @apply text-2xl
  }
  h4 {
    @apply text-xl
  }
  h5 {
    @apply text-lg
  }
  h6 {
    @apply text-base
  }
  .form-label {
    @apply font-medium
  }
  .input-field {
    @apply block bg-slate-700 bg-opacity-30 hover:bg-opacity-100 focus:bg-slate-700 focus:border-slate-700 focus:shadow hover:shadow rounded-lg border border-slate-700 placeholder-slate-600 px-3 py-2 w-full focus:ring-0 overflow-y-hidden
  }
  .input-field.check-box {
    @apply w-4 h-4 p-0 rounded checked:bg-sky-600 focus:ring-0 focus:ring-offset-0 cursor-pointer bg-slate-700
  }
  .input-field.check-box+label {
    @apply cursor-pointer
  }
  .file-field {
    @apply text-sm file:py-2 file:px-4 file:rounded-full file:border-0 focus:outline-none file:font-semibold file:bg-slate-700 file:text-white hover:cursor-pointer hover:file:bg-sky-600
  }
  .input-field.error {
    @apply border-red-500 focus:border-red-500
  }
  .error-message {
    @apply text-red-500
  }
  .last-saved-message {
    @apply opacity-50
  }
  .form-error-message {
    @apply px-2 py-1 text-red-600 bg-red-300 rounded-lg text-center font-bold
  }
  .btn-primary {
    @apply py-1.5 px-3 rounded-lg bg-sky-600 hover:bg-opacity-90 font-bold flex items-center gap-1 shrink-0 cursor-pointer justify-center
  }
  .btn-secondary {
    @apply py-1.5 px-3 rounded-lg bg-slate-700 hover:bg-opacity-90 font-bold flex items-center gap-1 shrink-0 cursor-pointer justify-center
  }
  .btn-error {
    @apply py-1.5 px-3 rounded-lg bg-red-600 hover:bg-opacity-90 font-bold flex items-center gap-1 shrink-0 cursor-pointer justify-center
  }
}

@layer components {
  .card {
    @apply rounded-lg flex flex-col bg-slate-800 shadow shadow-black/70
  }
  .card-body {
    @apply p-4 grow
  }
  .card-header {
    @apply rounded-t-lg bg-slate-700 py-1 px-2
  }
  .card.profile-card {
    @apply bg-slate-700 border-gray-600 hover:bg-slate-600 transition-colors
  }
  .nav-bar {
    @apply flex flex-col h-full bg-slate-800 p-3
  }
  .nav-list {
    @apply flex flex-col
  }
  .nav-item {
    @apply flex
  }
  .nav-link {
    @apply hover:bg-slate-700 p-2 rounded transition-all hover:shadow hover:shadow-black/50 grow flex items-center gap-1
  }
  .search-result-item {
    @apply flex gap-1 px-4 py-1 w-full
  }
  .search-result-item.actionable {
    @apply hover:bg-zinc-600 cursor-pointer
  }
  .avatar-container {
    @apply relative shrink-0 shadow shadow-black/70 rounded-full overflow-hidden transition-transform hover:delay-100 hover:z-50
  }
  .avatar-container .avatar {
    @apply absolute h-full rounded-none object-cover
  }
  .avatar {
    @apply rounded-full shadow
  }
  .person-name {
    @apply flex items-center gap-1 rounded-full pr-1 pl-2 py-1 bg-slate-700
  }
  .close-button {
    @apply p-3 hover:opacity-50
  }
  .tooltip {
    @apply relative inline-block
  }
  .tooltip-content {
    @apply invisible text-center rounded py-1 px-2 bg-slate-900 shadow-lg absolute z-50 truncate text-ellipsis max-w-xs
  }
  .tooltip:hover .tooltip-content {
    @apply visible delay-100 translate-x-1/2 right-1/2 bottom-10
  }
  .tab-bar {
    @apply text-sm font-medium text-center text-gray-500 dark:text-gray-400 border-b border-slate-500 mx-2
  }
  .tab {
    @apply inline-block p-4 border-b-2 border-transparent rounded-t-lg hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300 cursor-pointer
  }
  .tab-active {
    @apply text-sky-500 border-sky-500 hover:text-sky-500 hover:border-sky-500
  }
  .tab-disabled {
    @apply hover:text-inherit hover:border-0 opacity-50
  }
  .entry-title {
    @apply font-bold text-5xl
  }
}


@layer trix {
  trix-editor:empty:not(:focus)::before {
    @apply text-slate-600 !important
  }
  span[data-trix-button-group] {
    @apply border-slate-700 rounded-lg overflow-hidden !important
  }
  span[data-trix-button-group] button {
    @apply border-0 bg-slate-700 bg-opacity-30 hover:bg-opacity-100 !important
  }
  trix-toolbar .trix-button.trix-active {
    @apply bg-slate-700 hover:bg-opacity-80 !important
  }
  figure {
    @apply flex flex-col items-center gap-2 !important
  }
  figure img {
    @apply rounded-lg
  }
  figure figcaption.attachment__caption--editing textarea {
    @apply bg-transparent !important
  }
}
trix-toolbar .trix-button--icon-bold::before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='%23ffffff'%3E%3Cpath d='M15.6 11.8c1-.7 1.6-1.8 1.6-2.8a4 4 0 0 0-4-4H7v14h7c2.1 0 3.7-1.7 3.7-3.8 0-1.5-.8-2.8-2.1-3.4zM10 7.5h3a1.5 1.5 0 1 1 0 3h-3v-3zm3.5 9H10v-3h3.5a1.5 1.5 0 1 1 0 3z'/%3E%3C/svg%3E") !important;
}
trix-toolbar .trix-button--icon-italic::before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='%23ffffff'%3E%3Cpath d='M10 5v3h2.2l-3.4 8H6v3h8v-3h-2.2l3.4-8H18V5h-8z'/%3E%3C/svg%3E") !important;
}
trix-toolbar .trix-button--icon-strike::before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='%23ffffff'%3E%3Cpath d='M12.73 14l.28.14c.26.15.45.3.57.44.12.14.18.3.18.5 0 .3-.15.56-.44.75-.3.2-.76.3-1.39.3A13.52 13.52 0 0 1 7 14.95v3.37a10.64 10.64 0 0 0 4.84.88c1.26 0 2.35-.19 3.28-.56.93-.37 1.64-.9 2.14-1.57s.74-1.45.74-2.32c0-.26-.02-.51-.06-.75h-5.21zm-5.5-4c-.08-.34-.12-.7-.12-1.1 0-1.29.52-2.3 1.58-3.02 1.05-.72 2.5-1.08 4.34-1.08 1.62 0 3.28.34 4.97 1l-1.3 2.93c-1.47-.6-2.73-.9-3.8-.9-.55 0-.96.08-1.2.26-.26.17-.38.38-.38.64 0 .27.16.52.48.74.17.12.53.3 1.05.53H7.23zM3 13h18v-2H3v2z'/%3E%3C/svg%3E") !important;
}
trix-toolbar .trix-button--icon-heading-1::before {
  background-image: url("data:image/svg+xml,%3Csvg version='1' xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='%23ffffff'%3E%3Cpath d='M12 9v3H9v7H6v-7H3V9h9zM8 4h14v3h-6v12h-3V7H8V4z'/%3E%3C/svg%3E") !important;
}
trix-toolbar .trix-button--icon-quote::before {
  background-image: url("data:image/svg+xml,%3Csvg version='1' xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='%23ffffff'%3E%3Cpath d='M6 17h3l2-4V7H5v6h3zm8 0h3l2-4V7h-6v6h3z'/%3E%3C/svg%3E") !important;
}
trix-toolbar .trix-button--icon-attach::before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='%23ffffff'%3E%3Cpath d='M16.5 6v11.5a4 4 0 1 1-8 0V5a2.5 2.5 0 0 1 5 0v10.5a1 1 0 1 1-2 0V6H10v9.5a2.5 2.5 0 0 0 5 0V5a4 4 0 1 0-8 0v12.5a5.5 5.5 0 0 0 11 0V6h-1.5z'/%3E%3C/svg%3E") !important;
}
trix-toolbar .trix-button--icon-undo::before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='%23ffffff'%3E%3Cpath d='M12.5 8c-2.6 0-5 1-6.9 2.6L2 7v9h9l-3.6-3.6A8 8 0 0 1 20 16l2.4-.8a10.5 10.5 0 0 0-10-7.2z'/%3E%3C/svg%3E") !important;
}
trix-toolbar .trix-button--icon-redo::before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='%23ffffff'%3E%3Cpath d='M18.4 10.6a10.5 10.5 0 0 0-16.9 4.6L4 16a8 8 0 0 1 12.7-3.6L13 16h9V7l-3.6 3.6z'/%3E%3C/svg%3E") !important;
}
trix-toolbar .trix-button--icon-link { /* Not supported in this app */
  display: none;
}
trix-toolbar .trix-button--icon-bullet-list { /* Not supported in this app */
  display: none;
}
trix-toolbar .trix-button--icon-number-list { /* Not supported in this app */
  display: none;
}
trix-toolbar .trix-button--icon-code { /* Not supported in this app */
  display: none;
}
trix-toolbar .trix-button--icon-increase-nesting-level { /* Not supported in this app */
  display: none;
}
trix-toolbar .trix-button--icon-decrease-nesting-level { /* Not supported in this app */
  display: none;
}

