<nav class="nav-bar flex-shrink-0">
    <div class="nav-list grow">
        <a class="nav-item" href="#">Home</a>
        <a class="nav-item" href="#">Entries</a>
        <a class="nav-item" href="#">People</a>
        <a class="nav-item" href="#">Quotes</a>
        <a class="nav-item" href="#">Timeline</a>
    </div>
    <div class="nav-list">
        <a class="" href="#">Sign out</a>
        Jeremy Albin
    </div>
</nav>